*{
    margin: 0;
    padding: 0;
}

nav{
    text-decoration: none;
    background-color: seagreen;
}

nav a{
    margin-left: 40px;
    text-decoration: none;
}

#first{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: green;
}

#container{
    border: 3px solid;
    margin: 5px;
}

.box{
    margin: 5px;
    padding: 5px;
    height: 100px;
    width: 100px;
    background-color: green;
    text-decoration: inline-block;
}

#second{
    position: fixed;
    bottom: 100px;
    right: 10px;    
}

#box2{
    z-index: 2;
    position: absolute;
    left: 30px;
}

footer{
    position: fixed;
    bottom: 10px;
    background-color: aquamarine;
}